PORTFOLIO_TOKEN=FineGrainedTokenForYourPortfolioRepo
GH_USERNAME=YourGithubUserName
PORTFOLIO_REPO_OWNER=YourGithubUserName
PORTFOLIO_REPO_NAME=yourgithubusername.github.io
CLAUDE_CODE_OAUTH_TOKEN=LongLivingClaudeAuthToken